.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fefefe;
}

.auth-card {
  width: 50%;
  height: 69vh;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

/* LEFT SIDE */
.auth-left {
  flex: 1;
  background: linear-gradient(135deg, #1d4ed8, #2563eb, #3b82f6);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1px;
}

.auth-logo {
  max-width: 100%;
  height: auto;
}

/* RIGHT SIDE */
.auth-right {
  flex: 1;
  padding: 60px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth-title {
  margin-bottom: 30px;
  font-weight: 600;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px 40px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  outline: none;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

.toggle-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #1d4ed8, #2563eb);
  color: white;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:disabled {
  opacity: 0.7;
}

.signup-text {
  margin-top: 25px;
  font-size: 14px;
}

.signup-text span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 600;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 900px) {
  .auth-card {
    flex-direction: column;
    width: 95%;
    height: auto;
  }

  .auth-left {
    display: none;
  }
}

/* ================= RTL SUPPORT ================= */

[dir="rtl"] .auth-right {
  text-align: right;
}

[dir="rtl"] .input-group input {
  padding-right: 40px;
  padding-left: 40px; /* برای toggle */
}

/* icon سمت راست برود */
[dir="rtl"] .input-icon {
  left: auto;
  right: 12px;
}

/* toggle بیاید سمت چپ */
[dir="rtl"] .toggle-icon {
  right: auto;
  left: 12px;
}

/* متن‌ها */
[dir="rtl"] .auth-title,
[dir="rtl"] .signup-text,
[dir="rtl"] .error-text {
  text-align: right;
}

.auth-card {
  direction: inherit;
}
