.small-card .p-card-body {
  padding: 0.5rem 0.75rem 0rem !important;
}

.small-card .p-card-title {
  margin-bottom: 0 !important;
  font-size: 1rem;
}

.small-card .p-card-content {
  padding-top: 0 !important;
}

/* Dates */
/* استفاده از کلاس‌های Bootstrap radius */

/* LTR */
[dir="ltr"] .p-datepicker-trigger {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* RTL */
[dir="rtl"] .p-datepicker-trigger {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* DateFilter */
.date-clear-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 0.9rem;
  z-index: 3;
}

[dir="ltr"] .date-clear-icon {
  right: 55px;
}

[dir="rtl"] .date-clear-icon {
  left: 55px;
}

/* DATATABLE  */
/* Reports.css - استایل‌های مربوط به کامپوننت Reports */

/* استایل‌های مربوط به راست‌چین بودن جدول */
[dir="rtl"] .p-datatable .p-datatable-thead > tr > th,
[dir="rtl"] .p-datatable .p-datatable-tbody > tr > td {
  text-align: right !important;
}

[dir="rtl"] .p-datatable .p-sortable-column .p-column-title {
  margin-left: 0.5rem;
  margin-right: 0;
}

[dir="rtl"] .p-datatable .p-sortable-column .p-sortable-column-icon {
  margin-left: 0;
  margin-right: 0.5rem;
}

/* استایل‌های مربوط به paginator در حالت راست‌چین */
[dir="rtl"] .p-paginator .p-paginator-pages .p-paginator-page {
  margin: 0 0.1rem;
}

[dir="rtl"] .p-paginator .p-paginator-first,
[dir="rtl"] .p-paginator .p-paginator-prev,
[dir="rtl"] .p-paginator .p-paginator-next,
[dir="rtl"] .p-paginator .p-paginator-last {
  transform: rotate(180deg);
}

/* استایل‌های مربوط به کارت‌ها در حالت راست‌چین */
[dir="rtl"] .small-card .p-card-title {
  text-align: right;
}

[dir="rtl"] .small-card .p-card-content {
  text-align: right;
}

[dir="rtl"] .small-card h5 {
  text-align: right;
}
