.small-card .p-card-body {
  padding: 0.5rem 0.75rem 0rem !important;
}

.small-card .p-card-title {
  margin-bottom: 0 !important;
  font-size: 1rem;
}

.small-card .p-card-content {
  padding-top: 0 !important;
}

/* Dates */
/* استفاده از کلاس‌های Bootstrap radius */

/* LTR */
[dir="ltr"] .p-datepicker-trigger {
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* RTL */
[dir="rtl"] .p-datepicker-trigger {
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
